.postWatch {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.postWatchIcon {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

.cancel {
    top: 3px;
    right: 3px;
    transform: scale(1.4);
}

.previous {
    top: 50%;
    left: -2px;
    transform: scale(3);
}

.next {
    top: 50%;
    right: -2px;
    transform: scale(3);
}
.postWatch:focus {
    outline: none;
}

.postWatchImg {
    width: 100vh;
    max-height: 500px;
    object-fit: cover;
}
.bulletPagination {
    display: flex;
    justify-content: center;
}
.bulletItem {
    border-radius: 10px;
    width: 8px;
    height: 8px;
    background: rgb(131, 131, 131);
    margin-right: 5px;
    cursor: pointer;
}
