.friendList {
    list-style: none;
}

.profileInfoCloseFriendImg {
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: cover;
}

@media screen and (max-width: 576px) {
    .friendListName {
        display: none;
    }
}
