.friendList {
    list-style: none;
}

.friendListItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.profileInfoCloseFriendImg {
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: cover;
}

.rightbarOnline {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 30px;
    top: 18px;
    border-radius: 50%;
    border: 2px solid white;
    background: rgb(79, 163, 0);
}

@media screen and (max-width: 576px) {
    .friendListName {
        display: none;
    }
}
