.message {
    display: flex;
    margin-top: 10px;
}

.messageLeft {
    margin: 0 10px;
}

.messageRight {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 70%;
}

.messageRight.own {
    align-items: flex-end;
}

.messageContent {
    border-radius: 20px;
    padding: 12px 12px;
    background: #1877f2;
}

.messageContent.own {
    background: #e7e7e7;
}

.messageText {
    color: white;
}

.messageText.own {
    color: black;
}

.messageBottom {
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    top: -20px;
    display: none;
}

.messageRight:hover .messageBottom {
    display: block;
}

.message.own {
    flex-direction: row-reverse;
}

.messageImg {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
